In [2]:
#Importing the libraries

import pandas as pd
import numpy as np
import matplotlib as plt

%matplotlib inline

In [4]:
#Importing the Symptoms Dataset
df = pd.read_csv("dataset.csv")
df

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4915,(vertigo) Paroymsal Positional Vertigo,vomiting,headache,nausea,spinning_movements,loss_of_balance,unsteadiness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4916,Acne,skin_rash,pus_filled_pimples,blackheads,scurring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4917,Urinary tract infection,burning_micturition,bladder_discomfort,foul_smell_of urine,continuous_feel_of_urine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4918,Psoriasis,skin_rash,joint_pain,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4919,Impetigo,skin_rash,high_fever,blister,red_sore_around_nose,yellow_crust_ooze,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df.drop(['URL', 'Image'], axis = 1)

In [12]:
Location = "Karachi"
df['Location'] = Location
df.tail()

,ID,Doctor Name,Designation,Degree,Verification,Location
817,818,Dr. Uzma Butt,Dentist,BDS,NaN,Karachi
818,819,Dr. Um e Hani,Dentist,"BDS, C-Ortho",NaN,Karachi
819,820,Dr. Isma Sajjad,Dentist,"BDS, FCPS (Operative Dentistry)",NaN,Karachi
820,821,Dr. Shumaila Amin,Dentist,BDS,NaN,Karachi
821,822,Dr. Munazza Laeeq,Dentist,BDS,NaN,Karachi

In [21]:
new_df = pd.concat(map(pd.read_csv, ['doctors_in_karachi_cardiologist.csv','doctors_in_karachi_child-specialist.csv','doctors_in_karachi_dermatologist.csv','doctors_in_karachi_diabetologist.csv','doctors_in_karachi_endocrinologist.csv','doctors_in_karachi_ent-specialist.csv','doctors_in_karachi_eye-specialist.csv','doctors_in_karachi_gastroenterologist.csv','doctors_in_karachi_general-surgeon.csv','doctors_in_karachi_nephrologist.csv','doctors_in_karachi_neurologist.csv','doctors_in_karachi_oncologist.csv','doctors_in_karachi_orthopedic-surgeon.csv','doctors_in_karachi_pain-management-specialist.csv','doctors_in_karachi_psychiatrist.csv','doctors_in_karachi_psychologist.csv','doctors_in_karachi_pulmonologist.csv','doctors_in_karachi_urologist.csv']), ignore_index = True)
new_df.tail()

,ID,Doctor Name,URL,Designation,Degree,Verification,Image
3848,124,Dr. S.M.Sajid Ali,https://oladoc.com/pakistan/karachi/dr/urologi...,Urologist,"MBBS, FCPS",NaN,"<img alt=""Best Urologist in Karachi - Dr. S.M...."
3849,125,Dr. Ali Khawaja,https://oladoc.com/pakistan/karachi/dr/urologi...,Urologist,MBBS,NaN,"<img alt=""Best Urologist in Karachi - Dr. Ali ..."
3850,126,Dr. Talha Waqas,https://oladoc.com/pakistan/karachi/dr/urologi...,Urologist,"MBBS, FCPS",NaN,"<img alt=""Best Urologist in Karachi - Dr. Talh..."
3851,127,Dr. Adnan Siddiq,https://oladoc.com/pakistan/karachi/dr/urologi...,Urologist,MBBS,NaN,"<img alt=""Best Urologist in Karachi - Dr. Adna..."
3852,128,Dr. Naranjan Lal,https://oladoc.com/pakistan/karachi/dr/urologi...,Urologist,"MBBS,FCPS",NaN,"<img alt=""Best Urologist in Karachi - Dr. Nara..."

In [22]:
new_df.drop(['URL', 'Image'], axis = 1, inplace = True)

,ID,Doctor Name,Designation,Degree,Verification
0,1,Dr. Abdul Hafeez,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified
1,2,Dr. Reema Qayoom,Cardiologist,"M.B.B.S, FCPS Cardiology",PMC Verified
2,3,Dr. Akmal Waheed,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified
3,4,Dr. Saleem Sheikh,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified
4,5,Dr. Nouman Kakepoto,Cardiologist,"MBBS, FCPS (Cardiology)",PMC Verified
...,...,...,...,...,...
3848,124,Dr. S.M.Sajid Ali,Urologist,"MBBS, FCPS",NaN
3849,125,Dr. Ali Khawaja,Urologist,MBBS,NaN
3850,126,Dr. Talha Waqas,Urologist,"MBBS, FCPS",NaN
3851,127,Dr. Adnan Siddiq,Urologist,MBBS,NaN
3852,128,Dr. Naranjan Lal,Urologist,"MBBS,FCPS",NaN

In [24]:
new_df['Location'] = Location
new_df

,ID,Doctor Name,Designation,Degree,Verification,Location
0,1,Dr. Abdul Hafeez,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
1,2,Dr. Reema Qayoom,Cardiologist,"M.B.B.S, FCPS Cardiology",PMC Verified,Karachi
2,3,Dr. Akmal Waheed,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
3,4,Dr. Saleem Sheikh,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
4,5,Dr. Nouman Kakepoto,Cardiologist,"MBBS, FCPS (Cardiology)",PMC Verified,Karachi
...,...,...,...,...,...,...
3848,124,Dr. S.M.Sajid Ali,Urologist,"MBBS, FCPS",NaN,Karachi
3849,125,Dr. Ali Khawaja,Urologist,MBBS,NaN,Karachi
3850,126,Dr. Talha Waqas,Urologist,"MBBS, FCPS",NaN,Karachi
3851,127,Dr. Adnan Siddiq,Urologist,MBBS,NaN,Karachi
3852,128,Dr. Naranjan Lal,Urologist,"MBBS,FCPS",NaN,Karachi

In [25]:
new_df

,ID,Doctor Name,Designation,Degree,Verification,Location
0,1,Dr. Abdul Hafeez,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
1,2,Dr. Reema Qayoom,Cardiologist,"M.B.B.S, FCPS Cardiology",PMC Verified,Karachi
2,3,Dr. Akmal Waheed,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
3,4,Dr. Saleem Sheikh,Cardiologist,"MBBS, Dip. in Cardiology",PMC Verified,Karachi
4,5,Dr. Nouman Kakepoto,Cardiologist,"MBBS, FCPS (Cardiology)",PMC Verified,Karachi
...,...,...,...,...,...,...
3848,124,Dr. S.M.Sajid Ali,Urologist,"MBBS, FCPS",NaN,Karachi
3849,125,Dr. Ali Khawaja,Urologist,MBBS,NaN,Karachi
3850,126,Dr. Talha Waqas,Urologist,"MBBS, FCPS",NaN,Karachi
3851,127,Dr. Adnan Siddiq,Urologist,MBBS,NaN,Karachi
3852,128,Dr. Naranjan Lal,Urologist,"MBBS,FCPS",NaN,Karachi

In [26]:
new_df.to_csv("Karachi-doctors.csv", index = False)